langchain
langchain-core
langchain-community
langchain-experimental
langchain-openai
langgraph
langserve[all]
langchain-cli
langsmith
langchain-groq
groq

python-dotenv
streamlit
streamlit-chat

requests==2.31.0
pandas>=2.0.0

aiohttp==3.9.1

requests_html

